Flask~=1.1.2
bump2version
celery~=4.4.7
polyswarm-artifact~=1.4.3
pytest~=5.4.2
pytest-cov~=2.10.1
pytest-mock~=3.3.1
python-dateutil~=2.8.1
python-json-logger~=2.0.1
requests~=2.22.0
requests-mock~=1.8.0
six~=1.15.0 # required for python-dateutil in nginx/unit:1.19.0-python3.7
